
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(26, 26, 26);
}

.row{
    height: 54em;
    width: 100%;
}

.form{
    padding-top: 50%;
    padding-left: 30%;
    padding-right: 0%;
}

form table{
    padding-left: 10%;
    height: 5px;
}

.th1{
    background-color: rgb(165, 93, 93);
    width: 149px;
    height: 4px;
}

.th2{
    background-color: rgb(93, 165, 97);
    width: 149px;
    height: 4px;
}

.th3{
    background-color: rgb(93, 136, 165);
    width: 149px;
    height: 4px;
}

.th4{
    background-color: rgb(164, 165, 93);
    width: 149px;
    height: 4px;
}

h1, h2, h3, p, label{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.wellcome{
    padding-top: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
}

.divWellcome{
    height: auto;
    width: 100%;
    padding-top: 0%;
    text-align: center;
}

.divWellcome h1{
    text-align: center;
}

.left{
    text-align: center;
}

footer{
    height: 5.5em;
    width: 100%;
    text-align: center;
}

footer p{
    padding: 30px 100px 10px ;
}

input[type=email], input[type=password], input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(48, 48, 48);
    color: white;
    box-sizing: border-box;
    background-color: rgb(48, 48, 48);
}

input[type = "file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for = "file"] {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(48, 48, 48);
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    align-content: center;
    float:none;
}





button{
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 14px 20px;
    padding-right: 20;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

button:hover {
    opacity: 0.8;
  }

.cancelbtn{
    background-color: rgb(48, 48, 48);
}

form label{
    border: 0px;
}

.column{
    height: 100%;
    float: left;
}

.left{
    width: 50%;
}

.rigth{
    width: 50%;
}

.disabe{
    display: none
}



